<!DOCTYPE html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        
        <style>
            canvas{
                background-color: black; 
                width: 100%;
                height: auto;
            }
        </style>

        <style>
        .card.anim{
            border-radius: 4px;
            background: #fff;
            box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
            transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
            cursor: pointer;
        }

        .card.anim:hover{
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }
        </style>    
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Hanacaka's</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Latihan</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        apaje
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">apaje</a>
                        <a class="dropdown-item" href="#">apaje</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">apaje</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">apaje</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="mt-3"></div>   

        <div class="container">
            <div class="card-rows">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Tentang project Hanacaraka's
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        <a href="https://www.youtube.com/watch?v=saScdNQzzx0" class="btn btn-primary">Click me</a>
                    </div>
                </div>
            </div>      

            <div class="mt-3"></div>
            
            <div class="card-rows">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Daftar aksara hanacaraka
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Aksara bali something something</h5>
                        <!-- first card deck start -->
                        <div class="card-deck">
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Ha.png')}}" alt="..." class="img-fluid">
                                        </div>    
                                        <div class="col-md-6"> 
                                            <h5 class="card-title">ha</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>    
                                    <a href="#modalHa" class="stretched-link"></a>
                                </div>
                            </div>
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Na.png')}}" alt="..." class="img-fluid">
                                        </div> 

                                        <div class="col-md-6">
                                            <h5 class="card-title">na</h5>
                                            <p class="card-text">huruf na</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalNa" class="stretched-link"></a>
                                </div>
                            </div>
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Ca.png')}}" alt="..." class="img-fluid">
                                        </div>

                                        <div class="col-md-6">  
                                            <h5 class="card-title">ca</h5>
                                            <p class="card-text">huruf ca</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>
                                    <a href="#modalCa" class="stretched-link"></a> 
                                </div>
                            </div>
                        </div>    
                        <!-- first card deck end -->
                        <div class="mt-3"></div>
                        
                        <!-- second card deck start -->
                        <div class="card-deck">    
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Ra.png')}}" alt="..." class="img-fluid">
                                        </div>

                                        <div class="col-md-6"> 
                                            <h5 class="card-title">ra</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>         
                                    <a href="#modalRa" class="stretched-link"></a>
                                </div>
                            </div>

                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Ka.png')}}" alt="..." class="img-fluid">
                                        </div>  

                                        <div class="col-md-6">
                                            <h5 class="card-title">ka</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>       
                                    <a href="#modalKa" class="stretched-link"></a>
                                </div>
                            </div>

                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Da.png')}}" alt="..." class="img-fluid">
                                        </div>  
                                        
                                        <div class="col-md-6">
                                            <h5 class="card-title">da</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>
                                    <a href="#modalDa" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <!-- second card deck end -->

                        <div class="mt-3"></div>

                        <!-- third card deck start -->
                        <div class="card-deck">
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Ta.png')}}" alt="..." class="img-fluid">
                                        </div>  
                                        <div class="col-md-6">
                                            <h5 class="card-title">ta</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalTa" class="stretched-link"></a>
                                </div>
                            </div>

                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Sa.png')}}" alt="..." class="img-fluid">
                                        </div>  

                                        <div class="col-md-6">
                                            <h5 class="card-title">sa</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalSa" class="stretched-link"></a>
                                </div>
                            </div>

                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Wa.png')}}" alt="..." class="img-fluid">
                                        </div> 

                                        <div class="col-md-6">
                                            <h5 class="card-title">wa</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalWa" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <!-- third card deck end -->
                        <div class="mt-3"></div>
                        
                        <!-- fourth card deck start -->
                        <div class="card-deck">
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='La.png')}}" alt="..." class="img-fluid">
                                        </div>  
                                        <div class="col-md-6">
                                            <h5 class="card-title">la</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalLa" class="stretched-link"></a>
                                </div>
                            </div>

                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Ma.png')}}" alt="..." class="img-fluid">
                                        </div>  

                                        <div class="col-md-6">
                                            <h5 class="card-title">ma</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalMa" class="stretched-link"></a>
                                </div>
                            </div>
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Ga.png')}}" alt="..." class="img-fluid">
                                        </div>  
                                        <div class="col-md-6">
                                            <h5 class="card-title">ga</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalGa" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <!-- fourth card deck end -->

                        <div class="mt-3"></div>

                        <!-- fifth card deck start -->
                        <div class="card-deck">
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Ba.png')}}" alt="..." class="img-fluid">
                                        </div>  

                                        <div class="col-md-6">
                                            <h5 class="card-title">ba</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalBa" class="stretched-link"></a>
                                </div>
                            </div>

                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Pa.png')}}" alt="..." class="img-fluid">
                                        </div>  
                                        <div class="col-md-6">    
                                            <h5 class="card-title">pa</h5>
                                            <p class="card-text">huruf pa</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalPa" class="stretched-link"></a>
                                </div>
                            </div>

                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Nga.png')}}" alt="..." class="img-fluid">
                                        </div>  
                                        <div class="col-md-6">
                                            <h5 class="card-title">nga</h5>
                                            <p class="card-text">huruf nga</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalNga" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <!-- fifth card deck end -->

                        <div class="mt-3"></div>

                        <!-- sixth card deck start -->
                        <div class="card-deck">
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Ja.png')}}" alt="..." class="img-fluid">
                                        </div>  

                                        <div class="col-md-6">
                                            <h5 class="card-title">ja</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalJa" class="stretched-link"></a>
                                </div>
                            </div>
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Ya.png')}}" alt="..." class="img-fluid">
                                        </div>  
                                        <div class="col-md-6">
                                            <h5 class="card-title">ya</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalYa" class="stretched-link"></a>
                                </div>
                            </div>
                            <div class="card anim">
                                <div class="card-body">
                                    <div class="row">    
                                        <div class="col-md-6">                  
                                            <img src="{{url_for('static', filename='Nya.png')}}g" alt="..." class="img-fluid">
                                        </div>  

                                        <div class="col-md-6">
                                            <h5 class="card-title">nya</h5>
                                            <p class="card-text">huruf ha</p>
                                            <p class="card-text"><small class="text-muted">dada</small></p>
                                        </div>
                                    </div>        
                                    <a href="#modalNya" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <!-- sixth card deck end     -->
                    </div>
                </div>
            </div>

            <div class="mt-3"></div>

            <div class="card-rows">
                <div class="card">
                    <div id="convertCardHeader" class="card-header">
                        Converter aksara
                    </div>
                    <div class="mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Gambar Huruf Hanacaraka Disini</h5>
                            <canvas id="canvas"></canvas>
                            <a href="#" id="convertButton" class="btn btn btn-outline-primary" onclick="changeStateConvertButton()">ke Aksara Hanacaraka</a>
                            <a href="#" id="convertSubmit" class="btn btn btn-outline-primary">Download PNG</a>
                            <a href="#" id="convertSubmit" class="btn btn btn-outline-danger" onclick="clearCanvas()">Clear canvas</a>
                        </div>
                    </div>    
                <div class="mt-3"> </div>    
            </div>    
            <div class="mt-3"> </div>   
        </div>

        <!-- modal start -->

        <!-- modal ha -->
        <div class="modal fade" id="modalHa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Ha</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalNa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Na</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalCa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Ca</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalRa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Ra</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalKa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Ka</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Da</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalTa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Ta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalSa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Sa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalWa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Wa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalLa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf La</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalMa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Ma</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalGa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Ga</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalBa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Ba</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Pa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>    

        <div class="modal fade" id="modalNga" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Nga</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalJa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Ja</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalYa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Ya</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalNya" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cara menggambar huruf Nya</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centered">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <iframe id="youtubePlayer" width="560" height="315" src="https://www.youtube.com/embed/vHMV44Uza4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>    
                        </div>    
                    <div class="modal-footer">
                        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='canvas.js')}}"></script>
        <script src="{{url_for('static', filename='modal.js')}}"></script>
    </body>
</html>
